@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

.code {
  font-family: 'Source Code Pro', monospace;
}
.blink {
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.background-gradient {
  background-image: linear-gradient(to bottom right, #00F7A9, #A000FD);
}

.blur {
  -webkit-filter: blur(5px) grayscale(90%);
  -moz-filter: blur(5px) grayscale(90%);
  -o-filter: blur(5px) grayscale(90%);
  -ms-filter: blur(5px) grayscale(90%);
  filter: blur(5px) grayscale(90%);
}

// app global css
.bg-vgrey {
  background: #CECFD0;
}
.bg-vpurple {
  background: #A000FD;
}
.bg-vgreen {
  background: #00F7A9;
}
.bg-vdark {
  background: #131918;
}
.bg-vblack {
  background: #000;
}

.text-vgrey {
  color: #CECFD0;
}
.text-vpurple {
  color: #A000FD !important;
}
.text-vgreen {
  color: #00F7A9 !important;
}
.text-vdark {
  color: #131918 !important;
}
.text-vblack {
  color: #000 !important;
}

.pointer-cursor {
  cursor: pointer;
}