// app global css
.bg-vgrey {
  background: #CECFD0;
}
.bg-vpurple {
  background: #A000FD;
}
.bg-vgreen {
  background: #00F7A9;
}
.bg-vdark {
  background: #131918;
}
.bg-vblack {
  background: #000;
}

.text-vgrey {
  color: #CECFD0;
}
.text-vpurple {
  color: #A000FD !important;
}
.text-vgreen {
  color: #00F7A9 !important;
}
.text-vdark {
  color: #131918 !important;
}
.text-vblack {
  color: #000 !important;
}